~$*
*.b#*
*.s#*
*__pycache__*
.gitignore
FDM/Python/serialPlot/.idea/inspectionProfiles/profiles_settings.xml
FDM/Python/serialPlot/.idea/misc.xml
FDM/Python/serialPlot/.idea/serialPlot.iml
FDM/Python/serialPlot/.idea/workspace.xml
FDM/Python/serialPlot/.idea/modules.xml
Interface\ Application/pncApp/Logs
Interface\ Application/Analysis/Output
Interface\ Application/pncApp/.idea
